<h3>List of Submitted Proposals</h3>
<div class="span12">
<table class="table table-condensed">
  <thead>
  <tr>
    <th>Proposal Title</th>
    <th>PI Name</th>
    <th>PI Institute</th>
    <th>PI Email</th>
    <th>Instrument</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
   </thead>
  <tbody>
  <% @proposals.each do |proposal| %>
  <tr>
    <td><%= proposal.title %></td>
    <td><%= proposal.pi_name %></td>
    <td><%= proposal.pi_inst %></td>
    <td><%= proposal.pi_email %></td>
    <td><%= proposal.instrument %></td>
 <td><%= link_to 'Edit', edit_proposal_path(proposal), class: 'btn btn-mini btn-warning' %></td>
    <td><%= link_to 'Destroy', proposal, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= will_paginate @proposals%>
</div>
<br />

<!--<%= link_to 'New Proposal', new_proposal_path %>-->
