<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @proposal.title %>
</p>

<p>
  <b>PI Name:</b>
  <%= @proposal.pi_name %>
</p>

<p>
  <b>PI Institute:</b>
  <%= @proposal.pi_inst %>
</p>

<p>
  <b>PI Email:</b>
  <%= @proposal.pi_email %>
</p>

<p>
  <b>Co-I Name:</b>
  <%= @proposal.coi_name %>
</p>

<p>
  <b>Co-I Institute:</b>
  <%= @proposal.coi_inst %>
</p>
<p>
  <b>Co-I Email:</b>
  <%= @proposal.coi_email %>
</p>

<p>
  <b>Proposal Category:</b>
  <%= @proposal.prop_category %>
</p>

<p>
  <b>Scientific Category:</b>
  <%= @proposal.sci_category %>
</p>

<p>
  <b>Keyword1:</b>
  <%= @proposal.keyword1 %>
</p>

<p>
  <b>Keyword2:</b>
  <%= @proposal.keyword2 %>
</p>

<p>
  <b>Keyword3:</b>
  <%= @proposal.keyword3 %>
</p>

<p>
  <b>Instrument:</b>
  <%= @proposal.instrument %>
</p>

<p>
  <b>Proprietary Period:</b>
  <%= @proposal.prop_period %>
</p>

<p>
  <b>Prime Orbit(s):</b>
  <%= @proposal.prime_orb %>
</p>

<p>
  <b>Parallel Orbit(s):</b>
  <%= @proposal.par_orb %>
</p>

<p>
  <b>Cycle:</b>
  <%= @proposal.cycle %>
</p>

<p>
  <b>Abstract:</b>
  <%= @proposal.abstract %>
</p>

<p>
  <b>Target:</b>
  <%= @proposal.target %>
</p>

<p>
  <b>Right Ascension:</b>
  <%= @proposal.ra %>
</p>

<p>
  <b>Declination:</b>
  <%= @proposal.dec %>
</p>

<p>
  <b>Magnitude:</b>
  <%= @proposal.magnitude %>
</p>

<p>
  <b>Observe Target:</b>
  <%= @proposal.observe_target %>
</p>

<p>
  <b>Instrument Setup (Config):</b>
  <%= @proposal.config %>
</p>

<p>
  <b>Flags:</b>
  <%= @proposal.flags %>
</p>

<p>
  <b>Observe Orbit(s):</b>
  <%= @proposal.observe_orb %>
</p>

<p>
  <b>Scientific Justification:</b>
  <%= @proposal.sci_justify %>
</p>

<p>
  <b>Description of Observations:</b>
  <%= @proposal.description %>
</p>

<p>
  <b>Special Requirements:</b>
  <%= @proposal.special_req %>
</p>

<p>
  <b>Coordinated Observations:</b>
  <%= @proposal.coord_obs %>
</p>

<p>
  <b>Justify Duplications:</b>
  <%= @proposal.justify_dup %>
</p>

<p>
  <b>Past HST Usage:</b>
  <%= @proposal.past_usage %>
</p>


<%= link_to 'Edit', edit_proposal_path(@proposal), :class => 'btn btn-warning' %> |
<%= link_to 'Back', proposals_path, :class => 'btn btn-warning' %>
