<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @proposal.title %>
</p>

<p>
  <b>Pi name:</b>
  <%= @proposal.pi_name %>
</p>

<p>
  <b>Pi inst:</b>
  <%= @proposal.pi_inst %>
</p>

<p>
  <b>Pi email:</b>
  <%= @proposal.pi_email %>
</p>

<p>
  <b>Coi name:</b>
  <%= @proposal.coi_name %>
</p>

<p>
  <b>Coi inst:</b>
  <%= @proposal.coi_inst %>
</p>
<p>
  <b>Coi email:</b>
  <%= @proposal.coi_email %>
</p>

<p>
  <b>Prop category:</b>
  <%= @proposal.prop_category %>
</p>

<p>
  <b>Sci category:</b>
  <%= @proposal.sci_category %>
</p>

<p>
  <b>Keyword1:</b>
  <%= @proposal.keyword1 %>
</p>

<p>
  <b>Keyword2:</b>
  <%= @proposal.keyword2 %>
</p>

<p>
  <b>Keyword3:</b>
  <%= @proposal.keyword3 %>
</p>

<p>
  <b>Instrument:</b>
  <%= @proposal.instrument %>
</p>

<p>
  <b>Prop period:</b>
  <%= @proposal.prop_period %>
</p>

<p>
  <b>Prime orb:</b>
  <%= @proposal.prime_orb %>
</p>

<p>
  <b>Par orb:</b>
  <%= @proposal.par_orb %>
</p>

<p>
  <b>Cycle:</b>
  <%= @proposal.cycle %>
</p>

<p>
  <b>Abstract:</b>
  <%= @proposal.abstract %>
</p>

<p>
  <b>Target:</b>
  <%= @proposal.target %>
</p>

<p>
  <b>Ra:</b>
  <%= @proposal.ra %>
</p>

<p>
  <b>Dec:</b>
  <%= @proposal.dec %>
</p>

<p>
  <b>Magnitude:</b>
  <%= @proposal.magnitude %>
</p>

<p>
  <b>Observe target:</b>
  <%= @proposal.observe_target %>
</p>

<p>
  <b>Config:</b>
  <%= @proposal.config %>
</p>

<p>
  <b>Flags:</b>
  <%= @proposal.flags %>
</p>

<p>
  <b>Observe orb:</b>
  <%= @proposal.observe_orb %>
</p>

<p>
  <b>Sci justify:</b>
  <%= @proposal.sci_justify %>
</p>

<p>
  <b>Description:</b>
  <%= @proposal.description %>
</p>

<p>
  <b>Special req:</b>
  <%= @proposal.special_req %>
</p>

<p>
  <b>Coord obs:</b>
  <%= @proposal.coord_obs %>
</p>

<p>
  <b>Justify dup:</b>
  <%= @proposal.justify_dup %>
</p>

<p>
  <b>Past usage:</b>
  <%= @proposal.past_usage %>
</p>


<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>
