<img src="/stsci.jpg" alt="stsci feed" align="left" /></br>
<%= link_to "Proposal Submission System", root_path, :class => 'brand', :style=>'color:#0101DF;' %>
    
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <center>Welcome, Guest.  <br> To submit a Proposal, 
    	<br>Please <b><%= link_to 'LOGIN', new_user_session_path, {:style=>'color:#FFBF00;'} %></b>
    or<b> <%=link_to 'REGISTER', new_user_registration_path, {:style=>'color:#FFBF00;'} %></b></center>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %> 
      <li>
      <%= link_to 'Proposal List', proposals_path %>
      </li>
      <li>
      <%= link_to 'Registered Users', users_path %>
      </li>
    <% end %>
    
  <% end %>
 
</ul>
