<img src="/stsci.jpg" alt="stsci feed" align="left" /></br>
<%= link_to "Proposal Submission System", root_path, :class => 'brand', :color => 'red' %>
    
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <center>Welcome, Guest.  <br> To submit a Proposal, 
    	<br>Please <%= link_to 'login', new_user_session_path %>
    or <%=link_to 'register.', new_user_registration_path %></center>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %> 
      <li>
      <%= link_to 'Proposal List', proposals_path %>
      </li>
      <li>
      <%= link_to 'Registered Users', users_path %>
      </li>
    <% end %>
    
  <% end %>
 
</ul>
